{% extends 'base.html.twig' %}

{% block title %}{{ band.name }}{% endblock %}

{% block body %}
    <div>
        {% if band.pictureFilename %}
            <img src="{{ asset('images/band/' ~ band.pictureFilename) }}" class="img-fluid" alt="band_picture">
        {% endif %}
        <h1>Le groupe {{ band.name }}</h1>
        {% if band.creationDate%}
            <p>Il a été créé le {{ band.creationDate|date('d/m/Y') }}</p>
        {% else %}
            <p>Sa date de création est inconnue</p>
        {% endif %}

        {% if band.getArtists|length == 0 %}
            <p>composé d'aucun membres</p>
        {% else %}
            <p>composé de {{ band.getArtists|length }}
            {% if band.artists|length == 1 %}
                membre qui est
            {% else %}
                membres qui sont
            {% endif %}
                :</p>
        {% endif %}
        <div class="row">
            {% for artist in band.artists %}
                <div class="col-sm-3">
                    <div class="card">
                        {% if artist.pictureFilename %}
                            <img src="{{ asset('images/artist/' ~ artist.pictureFilename) }}" class="card-img-top" alt="Picture of {{ artist.name }}">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ artist.name }}</h5>
                            <p class="card-text">Né le {{ artist.birthDate|date('d-m-Y') }}</p>
                            <a href="{{ path("artist_show", {id: artist.getId()}) }}" class="btn btn-primary">Voir l'artiste</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row"></div>


        <div class="container px-4 py-5" id="custom-cards">
            {% set next_concerts = band.concerts|filter(c => c.date|date('Y-m-d') > "now"|date('Y-m-d'))|sort((a,b) => a.date|date('Y-m-d') <=> b.date|date('Y-m-d')) %}
            {% if next_concerts|length == 0 %}
                <h2 class="pb-2 border-bottom">Aucun concert de prévu prochainement</h2>
            {% else %}
                <h2 class="pb-2 border-bottom">Liste des prochains concerts du groupe</h2>
                <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
                    {% for concert in next_concerts %}
                        <div class="col">
                            <div class="card custom-card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('{% if concert.pictureFilename %}{{ asset('images/concert/' ~ concert.pictureFilename) }}{% else %}{{ asset('images/main_concert.jpg') }}{% endif %}');">
                                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                                    <a href="{{ path("concert_show", {id: concert.id}) }}"><h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">{{ concert.name }}</h2></a>
                                    <ul class="d-flex list-unstyled mt-auto">
                                        <li class="d-flex align-items-center me-auto">
                                            <i class="bi bi-geo-fill"></i>
                                            <small>{{ concert.venue.name }}</small>
                                        </li>
                                        <li class="d-flex align-items-center">
                                            <i class="bi bi-calendar3"></i>
                                            <small>{{ concert.date|date('d-m-Y') }}</small>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
