<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% if page == 1%}
            <li class="page-item disabled">
        {% else %}
            <li class="page-item">
        {% endif %}
            <a class="page-link" href="{{ path('concert_next', {'page': page-1}) }}">{{ "paginate.previous"|trans }}</a>
        </li>
        {% if totalPages > limitPages %}
            {% if page < 3 %}
                {% set start_page =  1%}
            {% else %}
                {% set start_page =  page-2%}
            {% endif %}
            {% set end_page = min(start_page + 4, totalPages) %}

            {% if start_page > 1 %}
                <li class="page-item"><a class="page-link" href="{{ path('concert_next', {'page': 1}) }}">...</a></li>
            {% endif %}
            {% for i in range(start_page, end_page)%}
                <li class="page-item {% if page == i %}active{% endif %}"><a class="page-link" href="{{ path('concert_next', {'page': i}) }}">{{ i }}</a></li>
            {% endfor %}
            {% if end_page < totalPages %}
                <li class="page-item"><a class="page-link" href="{{ path('concert_next', {'page': totalPages}) }}">...</a></li>
            {% endif %}
        {% else %}
            {% for i in range(1,totalPages)%}
                <li class="page-item {% if page == i %}active{% endif %}"><a class="page-link" href="{{ path('concert_next', {'page': i}) }}">{{ i }}</a></li>
            {% endfor %}
        {% endif %}


        {% if page == totalPages%}
            <li class="page-item disabled">
        {% else %}
            <li class="page-item">
        {% endif %}
            <a class="page-link" href="{{ path('concert_next', {'page': page+1}) }}">{{ "paginate.next"|trans }}</a>
        </li>
    </ul>
</nav>