<table class="table">
    <thead>
        <tr>
            <th>{{ "content.concert.labels.name"|trans }}</th>
            <th>{{ "content.concert.labels.date"|trans }}</th>
            <th>{{ "content.concert.labels.capacity"|trans }}</th>
            <th>{{ "content.concert.labels.venue"|trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for concert in concerts %}
            <tr>
                <td><a href="{{ path('concert_show', {'id': concert.id}) }}">{{ concert.name }}</a></td>
                <td>{{ concert.date ? concert.date|date('d-m-Y') : '' }}</td>
                <td>{{ concert.capacity }}</td>
                <td>{{ concert.venue.name }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
    </tbody>
</table>